.love {
color: rgb(235, 72, 12);
}
nav ul li {font: size 30px;
    font-weight: 800px;
    list-style: none;
    margin-right: 51px;

}
nav ul li a{
    text-decoration: none;
}
.hate{
    display: flex;
    align-items: center;
}
nav{ display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 0px 230px; 
}
#ok{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
}
.bf{
    background-color: tomato;
    color: antiquewhite;
    border: 10px;
    font-size: large;
    border-radius: 5px;
    padding: 18px 35px;
}
.banner-content{
   width: 580px;
}
.banner{
display: flex;
justify-content: space-between;
margin: 0 35px 0 230px;
}
.lol{
    text-decoration: none;
    font-size: 45px;
    font-weight: 500;
}
.lolol{
    font-size: 85px;
    font-weight: bold;

}
.lolimage{
    width: 580px;
}
.headers{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-info{
    color: #757575;
}
.secondary-BG{
background-color: #fff8f3;
}
.about{
border-radius: 10px;
padding: 130px  150px;
text-align: center;
margin-top: 130px; 
margin-bottom: 130px;
}
main{
width: 1140px;
margin: 0 auto; 
}
.item-info{
    font-weight: bold;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
}
.section-ok{
    margin: 0px 150px;
    padding:30px 30px 33px 30px;
}
.skill{
margin: 0 auto;
margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
.skills{
    display: flex;
    justify-content:center;
    gap: 24px;
}
.skill-item{width: 267px;
    height: 377px;
     padding: 30px 30px 33px 30px;
     margin-right: 20px;
     margin-left: 20px;
     text-align: left;
    box-shadow: #F3F3F3 5px 5px 5px;
    grid-area: 24px;
}
.skill-title{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #181818;

}
.skill-about{
text-align: left;
font-size: 16px;
color: #757575;
border: 0px 15px;
}
.resume-container{
    display: flex;
    padding: 30px;
    gap: 30px;
}
.resume-section{
    margin-top: 130px;
    margin-bottom: 10px;
}
.resume-title{
font-size: 30px;
font-weight: bold;
}
.experience-title{
    font-size: 25px;color: #474747;
    font-weight: bold;
}
.experience-sub{
    font-size: 20px;
    font-weight: 600px;
    color: #474747;
}
.experience-description{
    font-size: 16px;
    color: #757575;
    font-weight: normal;
}
.resume hr{
    margin: 30px 5px;
}
.marjin{
    margin-top: 2px;
    margin-bottom: 10px;
}